<!DOCTYPE html>
<html lang="en">

<head>
    <title>web-search-promt</title>
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./src/css/styles.css">
</head>

<body ng-app="app">
    <div class="container main-container" ng-controller="LinksController">

        <form>
            <label for="promtInput">Enter request</label>
            <div class="input-group">
                <input type="text" id="linkInput" class="form-control" placeholder="your string">
                <span class="input-group-btn">
                <button class="btn btn-info" ng-click="addLink()">submit</button>
                </span>
            </div>
        </form>
        
        <table class="table links" id="links" ng-repeat="link in links track by $index">
            <tr class="row">
                <td class="col-md-8">
                    {{link.text}}
                </td>
                <td class="col-md-4">
                    <a href={{link.href}}>Link to page!</a>
                </td>
            </tr>
        </table>

    </div>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./src/js/app.js"></script>
    <script src="./src/js/controllers/linksController.js"></script>
    <script src="./src/js/services/linksService.js"></script>
</body>

</html>