.main-container {
    position: relative;
    margin: 0 auto;
    width: 700px;
    top: 1em;
}

.links {
    position: relative;
    top: 1em;
}

.links a {
    cursor: pointer;
}

.description {
    position: relative;
    font-size: 13px;
}

.navbar {
    position: relative;
    top: 1em;
}

.lines {
    position: relative;
    top: 1em;  
}