<div>
    <div class="description container">
        <p class="col-md-5">
            Write an application that prompts the user for a text string, performs a Web search (Google/Yahoo/Bing/etc - your choice)
            and returns the title and URL of the first result. Use any tools /libraries you wish, but you must provide instructions
            on how to build and run your application. Please include a brief description of your application and why you
            implemented it the way you did.
        </p>

    </div>
    <div class="container main-container">
        <form>
            <label for="promtInput">Enter request</label>
            <div class="input-group">
                <input type="text" id="linkInput" class="form-control" placeholder="your string">
                <span class="input-group-btn">
                <button class="btn btn-info" ng-click="addLink()">submit</button>
                </span>
            </div>
        </form>

        <table class="table links" id="links" ng-repeat="link in links track by $index">
            <tr class="row">
                <td class="col-md-8">
                    {{link.text}}
                </td>
                <td class="col-md-4">
                    <a href={{link.href}}>Link to page!</a>
                </td>
            </tr>
        </table>

    </div>

</div>