<div>
    <div class="description container">
        <p class="col-md-5">
            Given two text files: input.txt and patterns.txt, where input.txt is a free-text document composed of 1 or more lines of
            text, and patterns.txt is a set of search strings (1 per line). Your application should be able to run in one
            of three different modes: Required: Output all the lines from input.txt that match exactly any pattern in patterns.txt
            Optional: 2) output all the lines from input.txt that contain a match from patterns.txt somewhere in the line.
            3) output all the lines from input.txt that contain a match with edit distance
            <=1 patterns.txt </p>

    </div>
    <div class="container main-container">
        <label for="">Choose method</label>
        <div class="row">
            <button class="btn btn-info" ng-click="getLines(1)">Full match</button>
            <button class="btn btn-info" ng-click="getLines(2)">By entry</button>
            <button class="btn btn-info" ng-click="getLines(3)">By edit distance</button>


            <ul ng-repeat="item in items" class="lines">
                <li> {{item}} </li>
            </ul>
        </div>
    </div>
</div>